# Turn on the rewrite engine
RewriteEngine On

# Set a custom 404 error page
ErrorDocument 404 /404.html

# Hide the .html extension from URLs
# For example, a request for "yoursite.com/about"
# will serve the content of "yoursite.com/about.html"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [L]
